Repository MilchRatchet/PAL, pull requests merged in 2021-07, with the labels that each got.

#6 Chans algorithm
  TEST/TEST_CONVEXHULL.c
  TEST/TEST_CONVEXHULL.h
  TEST/TEST_UTILS.c
  TEST/TEST_UTILS.h
  TEST/TEST_UTILS.hpp
  TEST/TEST_setcover.cpp
  TEST/main.c
  src/AAL/AAL_setcover.cpp
  src/AAL/AAL_setcover.h
  src/CGL/CGL_CONVEXHULL.c
  src/CGL/CGL_CONVEXHULL.h
  src/CGL/CGL_UTILS.h
  src/VLL/VLL_CONTAINER.h
  src/VLL/VLL_SCREEN.c
  src/VLL/VLL_SCREEN.h
  src/VLL/VLL_UTILS.h
Labels: CGL

#11 selectable Tests
  TEST/CMakeLists.txt
  TEST/TEST_CONVEXHULL.h
  TEST/TEST_UTILS.cpp
  TEST/TEST_UTILS.h
  TEST/TEST_UTILS.hpp
  TEST/TEST_knapsack.cpp
  TEST/TEST_knapsack.h
  TEST/TEST_setcover.cpp
  TEST/TEST_setcover.h
  TEST/main.c
  TEST/main.cpp
Labels: enhancement

#10 Knapsack improved performance
  src/AAL/AAL_knapsack.cpp
Labels: AAL

#13 Knapsack (Oops I merged into the wrong branch)
  src/AAL/AAL_knapsack.cpp
Labels: AAL

#14 concept of a fptas for the knapsack problem
  TEST/TEST_knapsack.cpp
  TEST/TEST_knapsack.h
  TEST/main.cpp
  src/AAL/AAL_UTILS.h
  src/AAL/AAL_knapsack.cpp
  src/AAL/AAL_knapsack.h
Labels: AAL
